<!-- <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h1>Welcome to the Dashboard</h1>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
    </div>
  </div>

</div> -->


<div class='container-fluid'>
  <h1>You are logged in!</h1>
  <h2>Welcome to the Dashboard</h2>
  <% if current_user.insurance.present? %>
    <p>
    <%= link_to "View My Insurance", insurance_path(current_user.insurance),
     class: 'btn btn-primary' %>
     </p>
  <% else %>
    <p>
      <%= link_to 'Create Your Insurance Object', new_insurance_path,
       class: 'btn btn-primary' %>
      </p>
  <% end %>
</div>
