<div class='container-fluid'>
  <h1>You are logged in!</h1>
  <p> Oh this is just for show</p>
  <p><%= link_to 'Create Your Insurance Object', new_insurance_path, class: 'btn btn-primary' %></p>
</div>
