<div class='container-fluid'>
  <% if current_user.present? %>
    <h1>You are logged in!</h1>
    <p> Oh this is just for show</p>
  <% else %>
    <h1>You are not logged in.</h1>
  <% end %>
</div>
