<% content_for :body_class, 'exception' %>
<% content_for :title, title("500 Error: Uh oh!") %>

<h2>This is a '500 Error' which means something went wrong.</h2>

<p>We've logged the error and apologize for the trouble. Hopefully you can go back and try again.</p>

<p>If that doesn't work, <a href="#" target="new">please let us know so we can fix the issue right away.</p>
