<% content_for :body_class, 'exception' %>
<% content_for :title, title("Nope!") %>

<div style="text-align: center" class="">
  <p class="push-top">We're sorry to say we are at capacity! After a certain number of participants are accepted into the system at one time, we have to cap the amount of traffic we accept&mdash;otherwise things can get a little hairy for everyone. If you are feeling adventurous, you can always try to reload to get back in the queue and see what happens.</p>
</div>
