@charset 'utf-8';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'main';

@import url(https://fontastic.s3.amazonaws.com/VAruNu5hz6fxCeUJBvhdrL/icons.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
